<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Calculator</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <link rel="stylesheet" href=" https://unpkg.com/buefy/dist/buefy.min.css">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
</head>

<body>

  <div id="app" v-cloak>
    <b-loading :is-full-page="isFullPage" v-model="isLoading" :can-cancel="true"></b-loading>
    <section class="container" v-show="!isLoading">
      <div style="margin:0 auto; width: 600px; max-width: 90vw;">
        <h1 class="title" style="margin-bottom:5rem;margin-top:2rem">Booking Calculator</h1>
        <b-field label="Choose a date">
          <b-datepicker v-model="selected" :show-week-number="showWeekNumber" :locale="locale"
            placeholder="Click to select..." icon="calendar-today" trap-focus>
          </b-datepicker>
        </b-field>
        <b-field label="Choose a location">
          <b-select placeholder="Select a location" required v-model="location_price">
            <option v-for="location of booking.visit.location_budget" :key="location.id" :value="location.price">
              {{location.name}}</option>
          </b-select>
        </b-field>

        <b-field label="How many people are you?">
          <b-numberinput v-model="people_size" min="1" controls-position="compact"></b-numberinput>
        </b-field>



        <b-field label="Select menu">
          <b-select v-model="menu_price">
            <option :value="menu.price" v-for="menu of booking.visit.food" :key="menu.id">{{menu.name}}</option>
          </b-select>
        </b-field>

        <b-field label="Drinks">
          <b-input placeholder="Type of drink" maxlength="30"></b-input>
        </b-field>

        <b-field label="Budget per item">
          <b-input v-model="drink_price" placeholder="Budget per item" type="number"></b-input>
        </b-field>

        <b-field label="Quantity">
          <b-numberinput v-model="drink_qty" min="1" controls-position="compact"></b-numberinput>
        </b-field>


        <b-field label="Other items">
          <b-select required v-model="other_item_price">
            <option :value="other.price" v-for="other in booking.visit.other_informations">{{other.name}}</option>
          </b-select>
        </b-field>

        <b-field label="Cakes">
          <b-select placeholder="" required v-model="cake_price">
            <option :value="cake.price" v-for="cake in booking.visit.cake">{{cake.size}}</option>
          </b-select>
        </b-field>

        <b-field label="Any additional info?">
          <b-input maxlength="200" type="textarea"></b-input>
        </b-field>




        <b-field>
          <h3 class="title" style="margin-top:5rem; margin-bottom:3rem">Total: {{getTotal}} RF</h3>
        </b-field>
        <div class="buttons">
          <b-button type="is-primary" expanded @click="calculate">Submit</b-button>
        </div>
      </div>



    </section>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script src="https://unpkg.com/vue-select@latest"></script>

  <script src="app.js"></script>
</body>

</html>